# Zależności
/vendor/

# Logi i pliki tymczasowe
/logs/*.json
/temp/*.json
/export/*.json

# Klucze prywatne (certyfikaty publiczne OK)
*.key
*.p12
*.pem
*.log

# Pliki systemowe
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Pliki konfiguracyjne z danymi wrażliwymi
config.php
.env

# Cache Composer
composer.lock

/logs/*.json
/logs/*.txt
/src/Export/last_export_encryption.json
/temp/session_*.json